<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

</style>
<body>
<svg id="figure"></svg><br/>
<div id="detail1">
<p class="desc"></p>
<iframe
  width="400"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBbeUojXNXnXhQSi13nTPHlQY75HN06QaQ&center=-33.8569,151.2152&zoom=16" allowfullscreen>
</iframe>
</div>
  
<script src="/static/js/d3.min.js"></script>
<script>

// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 100, left: 70},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// set the ranges
var x = d3.scaleLinear().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);

// define the line
var valueline = d3.line()
    .x(function(d) { return x(d.miles); })
    .y(function(d) { return y(d.price); });

// append the svg obgect to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#figure")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");


  var data = {{data|tojson}};

  // Scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.miles; }));
  y.domain([0, d3.max(data, function(d) { return d.price; })]);

  var color = d3.scaleOrdinal(d3.schemeCategory10);
  
  svg.selectAll(".dot")
      .data(data)
    .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 5)
      .attr("cx", function(d) { return x(d.miles); })
      .attr("cy", function(d) { return y(d.price); })
      .style("fill", function(d){ return color(d.year-2005); })
      .style("cursor", "pointer")
      .on('click', function(d){

        if (d3.event.shiftKey) {
          window.open(d.url);
        }
        else
        {
          console.log(d);
          var detail = d3.select("#detail1");
          detail.select("p.desc").html("<small>" + d.title + "</small><br/>(<b>"+d.year+"</b>) <b>$" + d.price + "</b> with <b>" + d.miles + "</b> miles");
          var map =detail.select("iframe"); 
          map.attr("srcdoc", null);
          if (d.latlong.length>0)
            map.attr("src", "https://www.google.com/maps/embed/v1/place?key=AIzaSyBbeUojXNXnXhQSi13nTPHlQY75HN06QaQ&q="+d.latlong+"&zoom=9");
          else map.attr("srcdoc", 'No coordinates :(');
        }
      });
  // Add the X Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // Add the Y Axis
  svg.append("g")
      .call(d3.axisLeft(y));


// text label for the x axis
  svg.append("text")             
      .attr("transform",
            "translate(" + (width/2) + " ," + 
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("Miles");

  // text label for the y axis
  svg.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Price");      

</script>
</body>
